.title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .list-item {
    width: 350px;
    padding: 1em;

    img {
      width: 100%;
      border-radius: 10px;
      cursor: pointer;
    }

    .item-name {
      padding: 0.25em;
      font-size: 1.25em;
      word-break: keep-all;
    }
    .item-price {
      padding-left: 0.25em;
      font-weight: 600;
      font-size: 1.5em;
    }
    @media screen and (max-width: 1023px) {
      width: 40vw;
      padding: 1rem;
      .item-name {
        font-size: 1em;
      }
      .item-price {
        font-size: 1.25em;
      }
    }
  }
}
